<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/noui/nouislider.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap.css}">
    <!--===============================================================================================-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="navbar-header">
        <a class="toplogo" th:href="'/'"><img th:src="@{/images/logo.png}"></a>
    </div>
    <a class="navbar-brand" th:href="'/'">Greendays</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="'/'">Acasa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Rapoarte
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="btn btn-default " style="background-color: #00ad5f" th:href="dailyReport">Raport Zilnic</a>
                    <a class="btn btn-default " style="background-color: #00ad5f" th:href="monthlyReport">Raport Lunar</a>
                    <a class="btn btn-default " style="background-color: #00ad5f" th:href="trimestrialReport">Raport Trimestrial</a>
                    <a class="btn btn-default " style="background-color: #00ad5f" th:href="anualReport">Raport Anual</a>
                </div>

            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="'tabelArhiva'">Tabel Arhiva <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" th:href="pdfreport" id="exportMonthlyReport" role="button">
                    Exporta Raport Lunar
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>