<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Contact V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/noui/nouislider.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link th:href="@{css/layout.css}" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap.css}">
    <!--===============================================================================================-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-contact200">
</div>

<script th:src="@{/js/jquery.easypiechart.min.js}"></script>

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})

</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/noui/nouislider.min.js}"></script>
<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });

</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');

</script>

<script th:type="module">
    $(document).ready(function(){
        $.ajax({
            url: "/getStatistics",
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
                console.log(data.numberOfReports);
                $("#dailyReportChart").attr("data-percent", data.numberOfReports.toString());
                $("#rezidualChart").attr("data-percent", data.residuals.toString());
                $("#recyclableChart").attr("data-percent", data.reciclable.toString());
                $("#totalChart").attr("data-percent", data.total.toString());
            },
            error: function (){
                alert("Something went wrong");
            }
        });
    });
</script>

<div class="bgded overlay light" style="background-image:url('images/background.jpeg');">
    <section id="services" class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h2 class="heading font-x2">Alegeti serviciul dorit</h2>
        </div>
        <ul class="nospace group elements elements-three">
            <li class="one_third">
                <article><a href="/dailyReport"><i class="fas fa-hourglass-half"></i></a>
                    <h6 class="heading">Raport Zilnic</h6>
                    <p>Permite introducerea unui raport de activitate.</p>
                </article>
            </li>
            <li class="one_third">
                <article><a href="/generareRapoarte"><i class="fas fa-hourglass-half"></i></a>
                    <h6 class="heading">Rapoarte</h6>
                    <p>Genereaza un raport lunar/trimestrial/anual ad-hoc. Util pentru interogare date.</p>
                </article>
            </li>
            <li class="one_third">
                <article><a href="tabelArhiva"><i class="fas fa-table"></i></a>
                    <h6 class="heading">Tabel Arhiva</h6>
                    <p>Afiseaza intr-un tabel toate rapoartele zilnice introduse de catre operator.</p>
                </article>
            </li>
            <li class="one_third">
                <article><a href="paymentReport"><i class="fas fa-hand-holding-usd"></i></a>
                    <h6 class="heading">Date Financiare Trimestriale</h6>
                    <p>Introduceti datele financiare pentru un anumit trimestru.</p>
                </article>
            </li>
            <li class="one_third">
                <article><a href="reportsArchive"><i class="fas fa-sliders-h"></i></a>
                    <h6 class="heading">Arhiva Rapoarte</h6>
                    <p>Afiseaza toate rapoartele lunare si trimestriale din arhiva</p>
                </article>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>

<div id="statisticsDiv" class="wrapper row3" >
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <p class="nospace font-xs">Situatia pe luna in curs</p>
            <h6 class="heading font-x2">Situatia pe luna in curs</h6>
        </div>
        <ul class="pr-charts nospace group center">
            <li class="pr-chart-ctrl" data-animate="false">
                <div class="pr-chart" id="dailyReportChart" ><i></i></div>
                <p>Rapoarte Zilnice</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                <div class="pr-chart" id="rezidualChart"><i></i></div>
                <p>Reziduale</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                <div class="pr-chart" id="recyclableChart" ><i></i></div>
                <p>Reciclabile</p>
            </li>
            <li class="pr-chart-ctrl" data-animate="false">
                <div class="pr-chart" id="totalChart"><i></i></div>
                <p>Total</p>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </section>
</div>
</body>
</html>
