<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/noui/nouislider.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap.css}">
    <!--===============================================================================================-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-contact1997">
    <div class="form-horizontal" style="width: 1200px;">
        <table class="table">
            <thead class="table-secondary">
            <tr>
                <th scope="col">Raport</th>
                <th scope="col">Data</th>
                <!--            <th scope="col">Actiuni</th>-->
            </tr>
            <tbody>
            <tr th:each="file : ${files}">
                <th scope="row"><img th:src="@{/images/icons/zip.ico}" alt="" style="width: 45px; height: 45px; margin:5px"
                                     class="rounded-circle"/>
                    <span class="ms-3">
                    <a th:href="@{/zip/{fileDate}(fileDate=${file.date})}" class="fw-bold mb-1"
                       th:text="${file.fileName}"/>
                </span>
                </th>
                <td>
                    <section class="text-muted mb-0" th:text="${file.date}"></section>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--    <div class="form-horizontal">-->
<!--        <ul class="list-group list-group-light">-->
<!--            <li class="list-group-item d-flex justify-content-between align-items-center" th:each="file: ${files}">-->
<!--                <div class="d-flex align-items-center">-->
<!--                    <img th:src="@{/images/icons/zip.ico}" alt="" style="width: 45px; height: 45px; margin:5px"-->
<!--                         class="rounded-circle"/>-->
<!--                    <div class="ms-3">-->
<!--                        <a th:href="@{/zip/{fileDate}(fileDate=${file.date})}" class="fw-bold mb-1"-->
<!--                           th:text="${file.fileName}"/>-->
<!--                        <section class="text-muted mb-0" th:text="${file.date}"></section>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
</div>


<!--            <li class="list-group-item d-flex justify-content-between align-items-center" th:each="file: ${files}">-->
<!--                <div class="d-flex align-items-center">-->
<!--                    <img th:src="@{/images/icons/zip.ico}" alt="" style="width: 45px; height: 45px; margin:5px"-->
<!--                         class="rounded-circle"/>-->
<!--                    <div class="ms-3">-->
<!--                        <a th:href="@{/zip/{fileDate}(fileDate=${file.date})}" class="fw-bold mb-1"-->
<!--                           th:text="${file.fileName}"/>-->
<!--                        <section class="text-muted mb-0" th:text="${file.date}"></section>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
</div>

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })

</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/noui/nouislider.min.js}"></script>
<script>
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [1500, 3900],
        connect: true,
        range: {
            'min': 1500,
            'max': 7500
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function (values, handle) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });

</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');

</script>

</body>
</html>
