<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/noui/nouislider.min.css}">
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/bootstrap.css}">
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatables.css}"/>

    <!--===============================================================================================-->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--===============================================================================================-->

    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/datatable/datatables.js}"></script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="mr-4 ml-4" style="display: inline;">
    <div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="updateNonCasnicQuantity" th:method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Introduceti cantitatea Non-Casnica </h4>
                    </div>
                    <div class="modal-body">
                        <div class="wrap-input100 bg1 rs1-wrap-input100">
                            <span class="label-input100">Cantitate Non-Casnica</span>
                            <input id="cantitateNoncasnica" class="input100" type="text" name="cantitateNoncasnica">
                        </div>
                    </div>
                    <input type="hidden" name="reportId" id="reportId">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                        <button  type="submit" class="btn btn-primary">Salveaza</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12 mt-5 mb-5">
            <h3>Tabel Arhiva</h3>
            <table id="tabelRapoarteZilnice" class="table table-bordered table-responsive" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Numar ruta</th>
                    <th>UAT</th>
                    <th>Cantitate</th>
                    <th>Destinatie</th>
                    <th>Nume Conducator Auto</th>
                    <th>Numar Autoturism</th>
                    <th>Probleme</th>
                    <th>Tip Incident</th>
                    <th>Observatii Incident</th>
                    <th>Tip Client</th>
                    <th>Cod Deseu</th>
                    <th>Nume Deseu</th>
                    <th>Foaie Traseu</th>
                    <th>Talon Cantarire</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>


<script>
    $('#tabelRapoarteZilnice').on('click', 'td', function () {
        var table = $('#tabelRapoarteZilnice').DataTable();
        var cell = table.cell(this).data();          // returns correct cell data
        console.log(cell);
        var row = table.row(this).data();
        // returns undefined
        document.getElementById('cantitateNoncasnica').value = row.quantity;
        document.getElementById('reportId').value = row.id;
        $('#GSCCModal').modal('toggle');
        console.log(document.getElementById('reportId').value)
        console.log(row);
    })

    $('#tabelRapoarteZilnice').DataTable({
        "processing": true,
        "serverSide": true,
        "responsive": true,
        "ajax": {
            "url": "/garbage",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "columns": [
            {"data": "id", "width": "10%"},
            {"data": "date", "width": "20%"},
            {"data": "routeNumber", "width": "20%"},
            {"data": "uat", "width": "20%"},
            {"data": "quantity", "width": "20%"},
            {"data": "destination", "width": "20%"},
            {"data": "driverName", "width": "20%"},
            {"data": "carNumber", "width": "20%"},
            {"data": "problems", "width": "20%"},
            {"data": "incidentType", "width": "20%"},
            {"data": "observations", "width": "20%"},
            {"data": "clientType", "width": "20%"},
            {"data": "garbageCode", "width": "20%"},
            {"data": "garbageName", "width": "20%"},
            {"data": "routeSheet", "width": "20%"},
            {"data": "weightTalon", "width": "20%"},
        ]
    });
</script>

<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script>
    $(".js-select2").each(function () {
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });
    })
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/noui/nouislider.min.js}"></script>
<script>
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [1500, 3900],
        connect: true,
        range: {
            'min': 1500,
            'max': 7500
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function (values, handle) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

</body>
</html>